body {
    background-color: #f5d9df;
    font-family: "Nunito", sans-serif;
}

/*
nav .navbar-brand {
    color: #ea1c2c !important;
}

.navbar {
    font-size: 1.5rem;
    font-weight: 100;
}

nav .nav-link:hover {
    color: #ea1c2c !important;
} */

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    text-transform: uppercase;
}

#mainNavbar .navbar-brand {
    font-size: 1.5rem;
    color: #ea1c2c;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}